@font-face {
    font-family: 'AnReg';
    src: url('../../Assets/Font/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: 'AnDemi';
    src: url('../../Assets/Font/AvenirNextLTPro-Demi.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;  
}

@font-face {
    font-family: 'AnBold';
    src: url('../../Assets/Font/AvenirNextLTPro-Bold.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;  
}