@font-face {
    font-family: 'AnReg';
    src: url('../../Assets/Font/AvenirNextLTPro-Regular.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTPro.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: 'AnDemi';
    src: url('../../Assets/Font/AvenirNextLTPro-Demi.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;  
}

@font-face {
    font-family: 'AnBold';
    src: url('../../Assets/Font/AvenirNextLTPro-Bold.otf') format('opentype'),
    url('../../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;  
}

/****Sizes*****/
$font10: .625rem;
$font13: .8125rem;
$font14: .875rem;
$font24: 1.5rem;
$font12: .75rem;
$font36: 2.25rem;
$font60: 3.75rem;