/******* Primary Colors *******/

$bandsite-black-color: #323232;
$silver-color: #afafaf;
$white-color: #ffffff;

/***** Seconday Colors *******/

$bandsite-dark-black-color: #000000;
$mercury-color: #e1e1e1;
$alabaster-color: #fafafa;

/****Sizes*****/
$font10: .625rem;
$font13: .8125rem;
$font14: .875rem;
$font24: 1.5rem;
$font12: .75rem;
$font36: 2.25rem;
$font60: 3.75rem;

