@import '../styles/partials/_variable';
@import './partials/_mixins';
@import './partials/_fonts';

.nav {

    &__left {
     
        border-bottom: $white-color solid .125rem;
        padding-bottom: .25rem;
        font-weight: 700;
    }
}

.hero {
    
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 65vw;

    &__name {
        color: $white-color;
        width: 90%;
        position: relative;
        top: 45%;
        left: 5%;
        font-size: $font24;
        
    }
    &__bkgnd {
        &--color {
            
            background-color: $bandsite-black-color;
            background-size: 65vw;  
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 50%;
            
        }
    }
    
}
.about {

    padding: 1.5rem 1rem 1rem;
    font-size: $font13;
    line-height: 1.125rem;

    &__heading {
        font-size: $font24;
    }

    &__img {
        width: 100%;
        height: auto;
        padding: 1rem 0;
        
    }

    &__quote {
        line-height: 1.375rem;
        font-weight: 700;
        
    }

    &__title {
        padding: 1rem 0;
        font-size: $font14;
        font-weight: 600;
        line-height: 1.375rem;
    }
}

.gallery {

    padding: 1rem;

    &__heading {
        font-size: $font24;
        line-height: 32px;
        font-weight: 700;
    }

    &__list {
        &--item {
        width: 100%;
        height: auto;
        padding-top: 1rem;
        }
    }
}

@include tablet {
    
    .nav {
       
        &__logo {
            
        }
    
        &__list {
            
            
            
            &--item {
                  
            }
        }

        &__left {
            position: relative;
            top: -1rem;
            border-bottom: $white-color solid 3rem;

        }
    }

    .hero {
        height: 68vw;

        &__name {
            font-size: $font60;
            top: 50%;
        }
    }

    .about {
        &__container {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }

        &__heading {
            font-size: $font36;
            padding: 3rem 1rem 2.25rem;
        }

        &__quote {
            font-size: $font24;
            line-height: 2rem;
            padding: 2.25rem;

            &--author {
                font-size: $font14;
                line-height: 1.375rem;
                padding: 2.25rem;
            }
        }

        &__title {
            font-size: $font24;
        }

        &__article {
            display: flex;

            &--column {
            flex: 50%;
            padding: .625rem;
            font-size: $font14;
            line-height: 1.375rem;
            }
        }
    }

    .gallery {

        &__heading {
            font-size: $font36;
            line-height: 2.75rem;
            padding: 2.375rem, 0, 2.25rem;
        }

        &__list {
            

            &--item {
                width: 30%;
                padding: .625rem;
            }
        }
    }

    .footer {
        display: flex;
    }

    



    
    
}