/******* Primary Colors *******/
/***** Seconday Colors *******/
@font-face {
  font-family: "AnReg";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AnDemi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AnBold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/****Sizes*****/
* {
  font-family: AnReg;
}

.nav__left {
  border-bottom: #ffffff solid 0.125rem;
  padding-bottom: 0.1875rem;
  font-family: AnDemi;
}

.hero {
  background-image: url(../Assets/Images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 65vw;
}
.hero__name {
  color: #ffffff;
  width: 90%;
  position: relative;
  top: 45%;
  left: 5%;
  font-size: 1.5rem;
  font-family: AnDemi;
}
.hero__bkgnd--color {
  background-color: #323232;
  background-size: 65vw;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 50%;
}

.about {
  padding: 1.5rem 1rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.about__heading {
  font-size: 1.5rem;
  font-family: AnDemi;
}
.about__img {
  width: 100%;
  padding: 1rem 0;
}
.about__quote {
  line-height: 1.375rem;
  font-family: AnDemi;
}
.about__quote--author {
  font-family: AnDemi;
}
.about__title {
  padding: 1rem 0;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
}

.gallery {
  padding: 1rem;
}
.gallery__heading {
  font-size: 1.5rem;
  line-height: 32px;
  font-family: AnDemi;
}
.gallery__list--item {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

.comment__title {
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
  margin: 0.5rem 1rem 1rem 1rem;
}
.comment__box {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin: 0 1rem 0rem 4rem;
}
.comment__button {
  margin: 0 1rem 1rem 4rem;
  width: 75%;
}
.comment__user--image {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  position: relative;
  bottom: 12rem;
  left: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -5px;
     object-position: -5px;
}
.comment__list--info {
  border-top: 0.0625rem solid #e1e1e1;
  border-bottom: 0.0625rem solid #e1e1e1;
  padding: 1rem;
}
.comment__text--upper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.comment__profile--img {
  background-color: #afafaf;
  border-radius: 50%;
  width: 20%;
}
label {
  width: 80%;
  margin-bottom: 0.25rem;
  color: #afafaf;
}

textarea, input[type=text] {
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  height: 2.25rem;
  border-radius: 0.25rem;
  border: 0.0625rem #e1e1e1 solid;
  padding: 0.5rem;
}

textarea {
  height: 5rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .nav__left {
    border: none;
    -webkit-text-decoration: underline 0.1875rem;
            text-decoration: underline 0.1875rem;
    text-underline-offset: 1.9rem;
  }
  .hero {
    height: 68vw;
  }
  .hero__name {
    font-size: 3.75rem;
    top: 50%;
    display: inline-block;
    width: 80%;
  }
  .about__container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 1rem;
  }
  .about__heading {
    font-size: 2.25rem;
    padding: 3rem 1rem 2.25rem;
  }
  .about__quote {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 2.25rem;
    margin-left: -2.5rem;
    padding-top: 1.25rem;
  }
  .about__quote--author {
    font-size: 0.875rem;
    line-height: 1.375rem;
    padding: 1rem;
  }
  .about__title {
    font-size: 1.5rem;
  }
  .about__article {
    display: flex;
  }
  .about__article--column {
    flex: 50%;
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .gallery__heading {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 2.375rem, 0, 2.25rem;
    margin-left: 0.6rem;
  }
  .gallery__list {
    margin-top: 1.625rem;
  }
  .gallery__list--item {
    width: 30%;
    padding: 0.625rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 55vw;
  }
  .hero__name {
    top: 47%;
    left: 11%;
  }
  .about {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .about__img {
    background-size: 80vw;
  }
  .about__quote {
    display: inline-block;
    word-wrap: normal;
    width: 87%;
    margin-left: -1.5rem;
    padding-top: 1.25rem;
  }
  .about__article--column {
    margin-right: 1rem;
  }
  .gallery {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 4rem;
    margin-bottom: 1.25rem;
  }
}/*# sourceMappingURL=bio.css.map */