@import '../styles/partials/_variable';

.hero {
    background-image: url(../Assets/Images/hero-bio.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    
   

    &__name {
        color: $white-color;
        position: relative;
        top: -15rem;
        left: 6rem;
    }
    &__bkgnd {
        &--color {
            background-color: $bandsite-black-color;
            background-size: cover;
            height: 100%;
            opacity: 50%;   
        }
    }
    
}
.about {

    &__img {
        width: 100%;
        height: auto;
    }
}

.gallery {

    &__list {
        &--item {
        width: 100%;
        height: auto;
        }
    }
}

@include tablet {
    
    .footer {

        display: flex;

    }
}