@import '../styles/partials/_variable';
@import './partials/_mixins';
@import './partials/_fonts';
* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'AnReg';
}

.nav {
    background-color: $bandsite-black-color;
    text-align: center;
    height: 4rem;
    color: $white-color;
    padding: 1rem;
    padding-bottom: 0;

    &__list {
        
        &--item {
            display: inline-block;
            width: 50%;
            font-size: .875rem;
            line-height: 2rem;
        }
    }

    &__logo {
        width: 7.5rem;
    }

    &__left {
        position: absolute;
        top: 2.6rem;
        left: -0.0625rem;  
    }
    
    &__right {
        position: absolute;
        top: 2.6rem; 
    }
}

button {
    width: 95%;
    background-color: $bandsite-black-color;
    height: 2.5rem;
    border-radius: .25rem;
    color: $white-color;
    line-height: 1.25rem;
    font-weight: 700;
}

.footer {
    background-color: $bandsite-black-color;
    color: $white-color;
    font-size: $font13;
    line-height: 1.125rem;
    

    &__social {
        display: flex;
        margin-top: 2rem;
        
    }

    &__icon {
        margin: 0 1.5rem 1.5rem;
    }

    &__info {
        
        padding: 1rem;

        &--spacing {
            margin-top: .5rem;
        }
    }

    &__contact {
        &--title {
            font-size: $font24;
            padding-top: 1rem;
        }
    }

    &__logo {
        padding-bottom: .5rem;
    }

    &__copyright {
        margin-top: 3rem;
        font-size: $font10;
    }
}

@include tablet {

    * {
        font-family: AnReg;
        font-size: $font14;
    }

    .nav {

        &__logo {
            position: absolute;
            left: 6%;
            top: 3.5%;
            
        }

        &__list {

            &--item {
                font-size: $font14; 
            }
        }

        &__left {
            position: absolute;
            top: 3%;
            left: 10%;
        }

        &__right {
            position: absolute;
            top: 3%;
            right: 25%;
            
        }
    }
    
    .footer {
        height: 24rem;
        font-size: $font14;
        line-height: 1.25rem;
        
        &__contact {
            display: flex;
            position: relative;
            bottom: 3rem;
            width: 90%;

            &--people {
                margin-right: 4rem;
                margin-left: 19%;
                width: 80%;
                
            }
            
            &--title {
                font-size: $font36;
                line-height: 2.75rem;
                padding-top: 3rem;
                padding-left: 3rem;
            }
        }

        &__social {
            display: inline-flex;
            position: relative;
            top: -4.3rem;
            left: 18rem;
            width: 30%;
            
            
        }  

        &__icon {
            margin: 0 2.25rem 2.25rem;
        }

        &__info {
            height: 80%;
            padding: 0;
            &--spacing {
                margin-top: 1rem;
            }
        }

        &__logo {
            position: relative;
            bottom: 17.5rem;
            left: 39rem;
        }

        &__copyright {
            height: 0;
            margin: 0;
            font-size: $font14;
        }

    } 
    .copyright {
        position: relative;
        bottom: 2.5rem;
        left: 3rem;
        width: 80%;
    }
}

@include desktop {

    .nav {
        &__logo {
            margin-left: 6%; 
        }

        &__left {
            left: 7%;
        }

        &__right {
            right: 34%;
        }
    }

    .footer {

        &__info {
            margin-left: 6%;
        }

        &__logo {
            left: 80%;
        }
    }
}