@import '../styles/partials/_variable';
@import './partials/_mixins';
@import './partials/_fonts';
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: $bandsite-black-color;
    
    text-align: center;
    height: 4rem;
    color: $white-color;
    padding: 1rem;
    padding-bottom: 0;

    &__list {
        
        &--item {
            display: inline-block;
            width: 50%;
            font-size: .875rem;
            line-height: 2rem;
        }
    }

    &__logo {
        width: 7.5rem;
    }

    &__left {
        position: absolute;
        top: 2.6rem;
        left: -0.0625rem;  
    }
    
    &__right {
        position: absolute;
        top: 2.6rem;
        
    }
}

.footer {
    background-color: $bandsite-black-color;
    color: $white-color;
    font-size: $font13;
    line-height: 1.125rem;
    

    &__social {
        display: flex;
        
    }

    &__icon {
        margin: 1.5rem;
    }

    &__info {
        
        padding: 1rem;

        &--spacing {
            margin-top: .5rem;
        }
    }

    &__contact {
        &--title {
            font-size: $font24;
            padding-top: 1rem;
        }
    }

    &__logo {
        padding-bottom: .5rem;
    }

    &__copyright {
        margin-top: 3rem;
        font-size: $font12;
    }
}

@include tablet {
    
    .footer {
        height: 23rem;
        font-size: $font14;
        line-height: 1.25rem;
        
        &__contact {
            display: flex;
            justify-content: space-evenly;
            position: relative;
            bottom: 3rem;
            
           

            &--title {
                font-size: $font36;
                line-height: 2.75rem;
                padding-top: 2rem;
                padding-left: 2.5rem;
            }
        }

        &__social {
            position: relative;
            top: -4.3rem;
            left: 18rem;
            width: 30%;
            
        }  

        &__icon {
            margin: 2.25rem;
        }

        &__info {
            height: 80%;
            padding: 0;
            &--spacing {
                margin-top: 1rem;
            }
        }

        &__logo {
            position: relative;
            top: -19rem;
            left: 37rem;
        }

    } 
    .copyright {
        position: relative;
        bottom: 5rem;
        left: 2.5rem;
    }
}