@import '../styles/partials/_variable';
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
}
.nav {
    background-color: $bandsite-black-color;
    
    text-align: center;
    height: 5rem;
    color: $white-color;
    padding: 1rem;

    &__list {
        
        &--item {
            display: inline-block;
            width: 49%;
            font-size: .875rem;
            line-height: 2rem;
            font-weight: 700;
        }
    }

    &__logo {
        width: 7.5rem;
    }

    &__left {
        float: left;
    }
    
    &__right {
        float: right;
    }
}

.footer {
    background-color: $bandsite-black-color;
    color: $white-color;
}