/******* Primary Colors *******/
/***** Seconday Colors *******/
@font-face {
  font-family: "AnReg";
  src: url("../../Assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AnDemi";
  src: url("../../Assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "AnBold";
  src: url("../../Assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../Assets/Font/Alternative-files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/****Sizes*****/
* {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "AnReg";
}

.nav {
  background-color: #323232;
  text-align: center;
  height: 4rem;
  color: #ffffff;
  padding: 1rem;
  padding-bottom: 0;
}
.nav__list--item {
  display: inline-block;
  width: 50%;
  font-size: 0.875rem;
  line-height: 2rem;
}
.nav__logo {
  width: 7.5rem;
}
.nav__left {
  position: absolute;
  top: 2.6rem;
  left: -0.0625rem;
}
.nav__right {
  position: absolute;
  top: 2.6rem;
}

button {
  width: 95%;
  background-color: #323232;
  height: 2.5rem;
  border-radius: 0.25rem;
  color: #ffffff;
  line-height: 1.25rem;
  font-weight: 700;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__social {
  display: flex;
  margin-top: 2rem;
}
.footer__icon {
  margin: 0 1.5rem 1.5rem;
}
.footer__info {
  padding: 1rem;
}
.footer__info--spacing {
  margin-top: 0.5rem;
}
.footer__contact--title {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.footer__logo {
  padding-bottom: 0.5rem;
}
.footer__copyright {
  margin-top: 3rem;
  font-size: 0.625rem;
}

@media (min-width: 768px) {
  * {
    font-family: AnReg;
    font-size: 0.875rem;
  }
  .nav__logo {
    position: absolute;
    left: 6%;
    top: 3.5%;
  }
  .nav__list--item {
    font-size: 0.875rem;
  }
  .nav__left {
    position: absolute;
    top: 3%;
    left: 10%;
  }
  .nav__right {
    position: absolute;
    top: 3%;
    right: 25%;
  }
  .footer {
    height: 24rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: 1.5rem;
  }
  .footer__contact {
    display: flex;
    position: relative;
    bottom: 3rem;
    width: 90%;
  }
  .footer__contact--people {
    margin-right: 4rem;
    margin-left: 19%;
    width: 80%;
  }
  .footer__contact--title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-left: 3rem;
  }
  .footer__social {
    display: inline-flex;
    position: relative;
    top: -4.3rem;
    left: 18rem;
    width: 30%;
  }
  .footer__icon {
    margin: 0 2.25rem 2.25rem;
  }
  .footer__info {
    height: 80%;
    padding: 0;
  }
  .footer__info--spacing {
    margin-top: 1rem;
  }
  .footer__logo {
    position: relative;
    bottom: 17.5rem;
    left: 39rem;
  }
  .footer__copyright {
    height: 0;
    margin: 0;
    font-size: 0.875rem;
  }
  .copyright {
    position: relative;
    bottom: 2.5rem;
    left: 3rem;
    width: 80%;
  }
}
@media (min-width: 1280px) {
  .nav__logo {
    margin-left: 6%;
  }
  .nav__left {
    left: 7%;
  }
  .nav__right {
    right: 34%;
  }
  .footer__info {
    margin-left: 6%;
  }
  .footer__logo {
    left: 80%;
  }
}/*# sourceMappingURL=global.css.map */