@import '../styles/partials/_variable';
@import './partials/_mixins';
@import './partials/_fonts';

.nav {

    &__right {
        border-bottom: $white-color solid .125rem;
        padding-bottom: .1875rem;
        font-family: AnDemi;
    }
}

.hero {
    background-image: url(../Assets/Images/hero-shows.jpg);
    background-size: cover;
    height: 100VW;
    color: $white-color;

    &__band {

        &--album {

            &-title {
                position: relative;
                top: 2.5rem;
            }

            &-song {
                position: relative;
                top: 4rem;
            }
        }
    }

    &__bkgnd {

        &--color {
        
            background-color: $bandsite-black-color;
            background-size: cover;  
            position: absolute;
            width: 100%;
            height: 100vw;
            opacity: 50%;
        }
    }
}

@include tablet {
    
    .nav {

        &__right {
            border: none;
            text-decoration: underline .1875rem;
            text-underline-offset: 1.9rem;  
        }
    }
}

@include desktop {

    .hero {

        height: 55vw;

        &__name {
            top: 47%;
            left: 11%;
        }
    }
}